@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h4 style="color:red"><center>Sorry! This word is unavailable here. Please try it out at <a href="https://www.merriam-webster.com/" target="_blank">Merriam Dictionary</a></center></h4>
